---
http_interactions:
- request:
    method: get
    uri: https://beta-loanpro.simnang.com/api/public/api/1/odata.svc/Loans(2)?$select=id,settingsId
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer kv2_hk5dRlWCbodsEoOZbYx6o9Oitw64qzpq8LpvBBneEW4ne0JQPYAY4435aJxJKIa8YPG1bNc2GT3Ln/hMRDM3Pg==
      Autopal-Instance-Id:
      - '518206'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"d":{"__metadata":{"uri":"https://beta-loanpro.simnang.com/api/public/api/1/odata.svc/Loans(id=2)","type":"Entity.Loan"},"id":2,"settingsId":2}}'
  recorded_at: Fri, 13 Feb 2026 21:29:52 GMT
recorded_with: VCR 6.4.0
