name: Run Connector Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        connector:
          - ofac_loan_export
          - rdn
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1.0'
        bundler-cache: false
    
    - name: Install dependencies for ${{ matrix.connector }}
      working-directory: ./connectors/${{ matrix.connector }}
      run: |
        gem install bundler
        bundle install
    
    - name: Run tests for ${{ matrix.connector }}
      working-directory: ./connectors/${{ matrix.connector }}
      run: bundle exec rspec
